.sidebar {
  float: left;
  width: 200px;
  padding-right: 1em;
}

.sidebar.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  overflow-y: auto;
  max-height: calc(100vh - 4em);
}

@media screen and (min-width: 64em) {
  .sidebar {
    width: 200px;
  }

  #main {
    margin-left: 220px;
    float: none;
    width: auto;
  }

  .page {
    width: 100%;
    padding-left: 1em;
    float: none;
  }
}

@media screen and (min-width: 80em) {
  .sidebar {
    width: 220px;
  }

  #main {
    margin-left: 250px;
  }
}
